<div>
    <div class="row">
        <!--Names, Main Stats, and Notes 1-->
        <div class="namenotesstats">
            <div class="col-4">
                <!--Name-->
                <div class="row">
                    <div class="name">
                        <div class="container">
                            <h3>{{ variables.name }}</h3>
                            {% if variables.name is defined %}
                                <dt>Name</dt>
                            <dd> {{ variables.name}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--stats-->
                <div class="row">
                    <div class="stats">
                        <div class="container">
                            <!--Edge-->
                            <div class="col">
                                <h3>EDGE</h3>
                                {% if variables.edge is defined %}
                                    <dt>edge</dt>
                                <dd> {{ variables.edge}} </dd>
                                {% endif %}
                            </div>
                            <!--Heart-->
                            <div class="col">
                                <h3>HEART</h3>
                                {% if variables.heart is defined %}
                                    <dt>heart</dt>
                                <dd> {{ variables.heart}} </dd>
                                {% endif %}
                            </div>
                            <!--Iron-->
                            <div class="col">
                                <h3>IRON</h3>
                                {% if variables.iron is defined %}
                                    <dt>iron</dt>
                                <dd> {{ variables.iron}} </dd>
                                {% endif %}
                            </div>
                            <!--Shadow-->
                            <div class="col">
                                <h3>SHADOW</h3>
                                {% if variables.shadow is defined %}
                                    <dt>shadow</dt>
                                <dd> {{ variables.shadow}} </dd>
                                {% endif %}
                            </div>
                            <!--Wits-->
                            <div class="col">
                                <h3>WITS</h3>
                                {% if variables.wits is defined %}
                                    <dt>wits</dt>
                                <dd> {{ variables.wits}} </dd>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Notes 1-->
            <div class="col-8">
                <div class="notesone">
                    <div class="container">
                        {% if variables.notes1 is defined %}
                                <dt>notes1</dt>
                            <dd> {{ variables.notes1}} </dd>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Bonds & Secondary Stats-->
        <div class="bondssecondarystats">
            <!--the numbers-->
            <div class="col-3">
                <!--bonds progress "bar"-->
                <div class="container">
                    <!--progress header-->
                    <div class="row">
                        <h3>Bonds Progress</h3>
                    </div>
                    <!--Progress & Ticks-->
                    <div class="row">
                        <!--Bonds Progress-->
                        <div class="col">
                            <h6>Progress</h6>
                            {% if variables.bondsprogressbar is defined %}
                                <dt>bondsprogressbar</dt>
                            <dd> {{ variables.bondsprogressbar}} </dd>
                            {% endif %}
                        </div>
                        <!--Progress Ticks-->
                        <div class="col">
                            <h6>Ticks</h6>
                                {% if variables.tickb is defined %}
                                <dt>tickb</dt>
                            <dd> {{ variables.tickb}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--secondary stats. Momentum, Supplies, Health, Spirit, XP, Failure-->
                <div class="container">
                    <!--Momentum-->
                    <div class="row">
                        <h6>Momentum</h6>
                        {% if variables.momentum is defined %}
                            <dt>momentum</dt>
                        <dd> {{ variables.momentum}} </dd>
                        {% endif %}
                    </div>
                    <!--Supplies-->
                    <div class="row">
                        <h6>Supplies</h6>
                        {% if variables.supply is defined %}
                            <dt>supply</dt>
                        <dd> {{ variables.supply}} </dd>
                        {% endif %}
                    </div>
                    <!--Health-->
                    <div class="row">
                        <h6>Health</h6>
                        {% if variables.health is defined %}
                            <dt>health</dt>
                        <dd> {{ variables.health}} </dd>
                        {% endif %}
                    </div>
                    <!--Spirit-->
                    <div class="row">
                        <h6>Spirit</h6>
                        {% if variables.spirit is defined %}
                            <dt>spirit</dt>
                        <dd> {{ variables.spirit}} </dd>
                        {% endif %}
                    </div>
                    <!--XP-->
                    <div class="row">
                        <h6>XP</h6>
                        {% if variables.xp is defined %}
                            <dt>xp</dt>
                        <dd> {{ variables.xp}} </dd>
                        {% endif %}
                    </div>
                    <!--Failure-->
                    <div class="row">
                        <h6>Failure</h6>
                        <!--progress-->
                        <div class="col">
                            <h6>Progress</h6>
                            {% if variables.progressf is defined %}
                                <dt>progressf</dt>
                            <dd> {{ variables.progressf}} </dd>
                            {% endif %}
                        </div>
                        <!--ticks-->
                        <div class="col">
                            <h6>Ticks</h6>
                            {% if variables.tickf is defined %}
                                <dt>tickf</dt>
                            <dd> {{ variables.tickf}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!--the words & notes-->
            <div class="col-9">
            </div>
        </div>
    </div>
</div>

<!--
	{% if variables.notes2 is defined %}
			<dt>notes2</dt>
		<dd> {{ variables.notes2}} </dd>
		{% endif %}
	{% if variables.bondstext is defined %}
			<dt>bondstext</dt>
		<dd> {{ variables.bondstext}} </dd>
		{% endif %}


	




	{% if variables.wounded is defined %}
			<dt>wounded</dt>
		<dd> {{ variables.wounded}} </dd>
		{% endif %}
	{% if variables.shaken is defined %}
			<dt>shaken</dt>
		<dd> {{ variables.shaken}} </dd>
		{% endif %}
	{% if variables.unprepared is defined %}
			<dt>unprepared</dt>
		<dd> {{ variables.unprepared}} </dd>
		{% endif %}
	{% if variables.encumbered is defined %}
			<dt>encumbered</dt>
		<dd> {{ variables.encumbered}} </dd>
		{% endif %}
	{% if variables.maimed is defined %}
			<dt>maimed</dt>
		<dd> {{ variables.maimed}} </dd>
		{% endif %}
	{% if variables.corrupted is defined %}
			<dt>corrupted</dt>
		<dd> {{ variables.corrupted}} </dd>
		{% endif %}
	{% if variables.cursed is defined %}
			<dt>cursed</dt>
		<dd> {{ variables.cursed}} </dd>
		{% endif %}
	{% if variables.tormented is defined %}
			<dt>tormented</dt>
		<dd> {{ variables.tormented}} </dd>
		{% endif %}
	{% if variables.vow1 is defined %}
			<dt>vow1</dt>
		<dd> {{ variables.vow1}} </dd>
		{% endif %}
	{% if variables.vow2 is defined %}
			<dt>vow2</dt>
		<dd> {{ variables.vow2}} </dd>
		{% endif %}
	{% if variables.vow3 is defined %}
			<dt>vow3</dt>
		<dd> {{ variables.vow3}} </dd>
		{% endif %}
	{% if variables.vow4 is defined %}
			<dt>vow4</dt>
		<dd> {{ variables.vow4}} </dd>
		{% endif %}
	{% if variables.vow5 is defined %}
			<dt>vow5</dt>
		<dd> {{ variables.vow5}} </dd>
		{% endif %}
	{% if variables.vow6 is defined %}
			<dt>vow6</dt>
		<dd> {{ variables.vow6}} </dd>
		{% endif %}
	{% if variables.menace1 is defined %}
			<dt>menace1</dt>
		<dd> {{ variables.menace1}} </dd>
		{% endif %}
	{% if variables.menace2 is defined %}
			<dt>menace2</dt>
		<dd> {{ variables.menace2}} </dd>
		{% endif %}
	{% if variables.menace3 is defined %}
			<dt>menace3</dt>
		<dd> {{ variables.menace3}} </dd>
		{% endif %}
	{% if variables.menace4 is defined %}
			<dt>menace4</dt>
		<dd> {{ variables.menace4}} </dd>
		{% endif %}
	{% if variables.menace5 is defined %}
			<dt>menace5</dt>
		<dd> {{ variables.menace5}} </dd>
		{% endif %}
	{% if variables.menace6 is defined %}
			<dt>menace6</dt>
		<dd> {{ variables.menace6}} </dd>
		{% endif %}
	{% if variables.rank1 is defined %}
			<dt>rank1</dt>
		<dd> {{ variables.rank1}} </dd>
		{% endif %}
	{% if variables.rank2 is defined %}
			<dt>rank2</dt>
		<dd> {{ variables.rank2}} </dd>
		{% endif %}
	{% if variables.rank3 is defined %}
			<dt>rank3</dt>
		<dd> {{ variables.rank3}} </dd>
		{% endif %}
	{% if variables.rank4 is defined %}
			<dt>rank4</dt>
		<dd> {{ variables.rank4}} </dd>
		{% endif %}
	{% if variables.rank5 is defined %}
			<dt>rank5</dt>
		<dd> {{ variables.rank5}} </dd>
		{% endif %}
	{% if variables.rank6 is defined %}
			<dt>rank6</dt>
		<dd> {{ variables.rank6}} </dd>
		{% endif %}
	{% if variables.threat1 is defined %}
			<dt>threat1</dt>
		<dd> {{ variables.threat1}} </dd>
		{% endif %}
	{% if variables.threat2 is defined %}
			<dt>threat2</dt>
		<dd> {{ variables.threat2}} </dd>
		{% endif %}
	{% if variables.threat3 is defined %}
			<dt>threat3</dt>
		<dd> {{ variables.threat3}} </dd>
		{% endif %}
	{% if variables.threat4 is defined %}
			<dt>threat4</dt>
		<dd> {{ variables.threat4}} </dd>
		{% endif %}
	{% if variables.threat5 is defined %}
			<dt>threat5</dt>
		<dd> {{ variables.threat5}} </dd>
		{% endif %}
	{% if variables.threat6 is defined %}
			<dt>threat6</dt>
		<dd> {{ variables.threat6}} </dd>
		{% endif %}
	{% if variables.progress1 is defined %}
			<dt>progress1</dt>
		<dd> {{ variables.progress1}} </dd>
		{% endif %}
	{% if variables.progress2 is defined %}
			<dt>progress2</dt>
		<dd> {{ variables.progress2}} </dd>
		{% endif %}
	{% if variables.progress3 is defined %}
			<dt>progress3</dt>
		<dd> {{ variables.progress3}} </dd>
		{% endif %}
	{% if variables.progress4 is defined %}
			<dt>progress4</dt>
		<dd> {{ variables.progress4}} </dd>
		{% endif %}
	{% if variables.progress5 is defined %}
			<dt>progress5</dt>
		<dd> {{ variables.progress5}} </dd>
		{% endif %}
	{% if variables.progress6 is defined %}
			<dt>progress6</dt>
		<dd> {{ variables.progress6}} </dd>
		{% endif %}
	{% if variables.tick1 is defined %}
			<dt>tick1</dt>
		<dd> {{ variables.tick1}} </dd>
		{% endif %}
	{% if variables.tick2 is defined %}
			<dt>tick2</dt>
		<dd> {{ variables.tick2}} </dd>
		{% endif %}
	{% if variables.tick3 is defined %}
			<dt>tick3</dt>
		<dd> {{ variables.tick3}} </dd>
		{% endif %}
	{% if variables.tick4 is defined %}
			<dt>tick4</dt>
		<dd> {{ variables.tick4}} </dd>
		{% endif %}
	{% if variables.tick5 is defined %}
			<dt>tick5</dt>
		<dd> {{ variables.tick5}} </dd>
		{% endif %}
	{% if variables.tick6 is defined %}
			<dt>tick6</dt>
		<dd> {{ variables.tick6}} </dd>
		{% endif %}


</div>
							
-->