<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="roughdraft.css" />

</head>
<body class="sheet">
<!--The card body will be the twig variables from World Anvil-->
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h1>IRONSWORN</h1>
        </div>
    </div>
<!--name|stats|notes1-->
    <div class="row">
<!--name\stats-->
        <div class="col-md-8">
<!--name-->
            <div class="row">
                <div class="container">
                    <div class="card">
                        <div class="card-title text-center">
                            Name
                        </div>
                        <div class="card-body">
                            <h1>{{ variables.name }}</h1>
                            {% if variables.name is defined %}
                                <dd> {{ variables.name}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
<!--stats-->
            <div class="row">
<!--Iron-->
                <div class="col-md">
                    <div class="card">
                        <div class="card-title text-center">
                            IRON
                        </div>
                        <div class="card-body">
                            {% if variables.iron is defined %}
                            <dd> {{ variables.iron}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
<!--Edge-->
                <div class="col-md">
                    <div class="card">
                        <div class="card-title text-center">
                            EDGE
                        </div>
                        <div class="card-body">
                            {% if variables.edge is defined %}
                            <dd> {{ variables.edge}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
<!--Shadow-->
                <div class="col-md">
                    <div class="card">
                        <div class="card-title text-center">
                            SHADOW
                        </div>
                        <div class="card-body">
                            {% if variables.shadow is defined %}
                            <dd> {{ variables.shadow}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
<!--Heart-->
                <div class="col-md">
                    <div class="card">
                        <div class="card-title text-center">
                            HEART
                        </div>
                        <div class="card-body">
                            {% if variables.heart is defined %}
                            <dd> {{ variables.heart}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
<!--Wits-->
                <div class="col-md">
                    <div class="card">
                        <div class="card-title text-center">
                            WITS
                        </div>
                        <div class="card-body">
                            {% if variables.wits is defined %}
                            <dd> {{ variables.wits}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--notes1-->
        <div class="col-md-4">
            <div class="card">
                <div class="card-title text-center">
                    Notes and Bonds
                </div>
                <div class="card-body">
                    {% if variables.namesandbonds is defined %}
                    <dd> {{ variables.namesandbonds}} </dd>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
<!--secondary stats-->
    <div class="row" id="secondarystats">
        <!--momentum-->
        <div class="col-md">
            <div class="card">
                <div class="card-title text-center">
                    momentum
                </div>
                <div class="card-body">
                    {% if variables.momentum is defined %}
                    <dd> {{ variables.momentum}} </dd>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--supply-->
        <div class="col-md">
            <div class="card">
                <div class="card-title text-center">
                    supply
                </div>
                <div class="card-body">
                    {% if variables.supply is defined %}
                    <dd> {{ variables.supply}} </dd>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--spirit-->
        <div class="col-md">
            <div class="card">
                <div class="card-title text-center">
                    spirit
                </div>
                <div class="card-body">
                    {% if variables.spirit is defined %}
                    <dd> {{ variables.spirit}} </dd>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--health-->
        <div class="col-md">
            <div class="card">
                <div class="card-title text-center">
                    health
                </div>
                <div class="card-body">
                    {% if variables.health is defined %}
                <dd> {{ variables.health}} </dd>
                {% endif %}
                </div>
            </div>
        </div>
        <!--bonds progress-->
        <div class="col-md">
            <div class="card">
                <div class="card-title text-center">
                    bonds progress
                </div>
                <div class="card-body">
                    {% if variables.bondstick is defined %}
                        <dt>Ticks</dt>
                        <dd> {{ variables.bondstick}} </dd>
                    {% endif %}
                    {% if variables.bondsprogress is defined %}
                        <dt>Progress</dt>
                        <dd> {{ variables.bondsprogress}} </dd>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--failure-->
        <div class="col-md">
            <div class="card">
                <div class="card-title text-center">
                    failure
                </div>
                <div class="card-body">
                    {% if variables.failuretick is defined %}
                            <dt>Ticks</dt>
                        <dd> {{ variables.failuretick}} </dd>
                    {% endif %}
                    {% if variables.failureprogress is defined %}
                            <dt>Progress</dt>
                        <dd> {{ variables.failureprogress}} </dd>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--XP-->
        <div class="col-md">
            <div class="card">
                <div class="card-title text-center">
                    XP
                </div>
                <div class="card-body">
                    {% if variables.xpgain is defined %}
                            <dt>Total</dt>
                        <dd> {{ variables.xpgain}} </dd>
                    {% endif %}
                    {% if variables.xpleft is defined %}
                            <dt>Unused</dt>
                        <dd> {{ variables.xpleft}} </dd>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
<!--Vows & Progress-->
    <div class="container">
        <h2>PROGRESS</h2>
<!--
The card title I plan to be the vow/progress name.
The card body will contain the progress bar and menace track.
Can use javascript, or possibly Twig, to make progress bar that has two increment 
buttons and a clear button.
The first increment button will be for a full 10%, a full progress.
The second for 2.5%, a single Tick.
I'm not sure if anybody will be able to play with them or if WA
makes everything on a character sheet static unless using the
"Trackable Form". The latter seems to be the case.
The footer will hold the rank of each.
Ten such cards should be sufficient for most players.
-->
<!--0,1-->
        <div class="row">
    <!--0-->        
            <div class="col-md">
                <div class="container">
                    <div class="card">
                        <div class="card-title text-center">
                            {% if variables.vow0 is defined %}
                            <dd> {{ variables.vow0}} </dd>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if variables.tick0 is defined %}
                                <dt>Ticks</dt>
                                <dd> {{ variables.tick0}} </dd>
                            {% endif %}
                            {% if variables.progress0 is defined %}
                                <dt>Progress</dt>
                                <dd> {{ variables.progress0}} </dd>
                            {% endif %}
                            {% if variables.menace0 is defined %}
                                <dt>Menace</dt>
                                <dd> {{ variables.menace0}} </dd>
                            {% endif %}
                
                        </div>
                    </div>
                </div>
            </div>
    <!--1-->
            <div class="col-md">
                <div class="container">
                    <div class="card">
                        <div class="card-title text-center">
                            {% if variables.vow1 is defined %}
                                <dd> {{ variables.vow1}} </dd>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if variables.tick1 is defined %}
                                <dt>Ticks</dt>
                            <dd> {{ variables.tick1}} </dd>
                            {% endif %}
                            {% if variables.progress1 is defined %}
                                <dt>Progress</dt>
                                <dd> {{ variables.progress1}} </dd>
                            {% endif %}
                            {% if variables.menace1 is defined %}
                                <dt>Menace</dt>
                                <dd> {{ variables.menace1}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--2,3-->
        <div class="row">
    <!--2-->
            <div class="col-md">
                <div class="container">
                    <div class="card">
                        <div class="card-title text-center">
                            {% if variables.vow2 is defined %}
                            <dt>vow2</dt>
                        <dd> {{ variables.vow2}} </dd>
                        {% endif %}
                        </div>
                        <div class="card-body">
                            {% if variables.tick2 is defined %}
                                <dt>Ticks</dt>
                                <dd> {{ variables.tick2}} </dd>
                            {% endif %}
                            {% if variables.progress2 is defined %}
                                <dt>Progress</dt>
                                <dd> {{ variables.progress2}} </dd>
                            {% endif %}
                            {% if variables.menace1 is defined %}
                                <dt>Menace</dt>
                                <dd> {{ variables.menace1}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    <!--3-->
            <div class="col-md">
                <div class="container">
                    <div class="card">
                        <div class="card-title text-center">
                            {% if variables.vow3 is defined %}
                                <dd> {{ variables.vow3}} </dd>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if variables.tick3 is defined %}
                                <dt>Tick</dt>
                                <dd> {{ variables.tick3}} </dd>
                            {% endif %}
                            {% if variables.progress3 is defined %}
                                <dt>Progress</dt>
                                <dd> {{ variables.progress3}} </dd>
                            {% endif %}
                            {% if variables.menace3 is defined %}
                                <dt>Menace</dt>
                                <dd> {{ variables.menace3}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--4,5-->
        <div class="row">
    <!--4-->
            <div class="col-md">
                <div class="container">
                    <div class="card">
                        <div class="card-title text-center">
                            {% if variables.vow4 is defined %}
                                <dd> {{ variables.vow4}} </dd>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if variables.tick4 is defined %}
                                <dt>Ticks</dt>
                                <dd> {{ variables.tick4}} </dd>
                            {% endif %}
                            {% if variables.progress4 is defined %}
                                <dt>Progress</dt>
                                <dd> {{ variables.progress4}} </dd>
                            {% endif %}
                            {% if variables.menace4 is defined %}
                                <dt>Menace</dt>
                                <dd> {{ variables.menace4}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    <!--5-->
            <div class="col-md">
                <div class="container">
                    <div class="card">
                        <div class="card-title text-center">
                            {% if variables.vow5 is defined %}
                                <dd> {{ variables.vow5}} </dd>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if variables.tick5 is defined %}
                                <dt>Tick</dt>
                                <dd> {{ variables.tick5}} </dd>
                            {% endif %}
                            {% if variables.progress5 is defined %}
                                <dt>Progress</dt>
                                <dd> {{ variables.progress5}} </dd>
                            {% endif %}
                            {% if variables.menace5 is defined %}
                                <dt>Menace</dt>
                                <dd> {{ variables.menace5}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--6,7-->
        <div class="row">
    <!--6-->
            <div class="col-md">
                <div class="container">
                    <div class="card">
                        <div class="card-title text-center">
                            {% if variables.vow6 is defined %}
                                <dd> {{ variables.vow6}} </dd>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if variables.tick6 is defined %}
                                <dt>Ticks</dt>
                                <dd> {{ variables.tick6}} </dd>
                            {% endif %}
                            {% if variables.progress6 is defined %}
                                <dt>Progress</dt>
                                <dd> {{ variables.progress6}} </dd>
                            {% endif %}
                            {% if variables.menace6 is defined %}
                                <dt>Menace</dt>
                                <dd> {{ variables.menace6}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    <!--7-->
            <div class="col-md">
                <div class="container">
                    <div class="card">
                        <div class="card-title text-center">
                            {% if variables.vow7 is defined %}
                                <dd> {{ variables.vow7}} </dd>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if variables.tick7 is defined %}
                                <dt>Tick</dt>
                                <dd> {{ variables.tick7}} </dd>
                            {% endif %}
                            {% if variables.progress7 is defined %}
                                <dt>Progress</dt>
                                <dd> {{ variables.progress7}} </dd>
                            {% endif %}
                            {% if variables.menace7 is defined %}
                                <dt>Menace</dt>
                                <dd> {{ variables.menace7}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--8,9-->
        <div class="row">
    <!--8-->
            <div class="col-md">
                <div class="container">
                    <div class="card">
                        <div class="card-title text-center">
                            {% if variables.vow8 is defined %}
                                <dd> {{ variables.vow8}} </dd>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if variables.tick8 is defined %}
                                <dt>Tick</dt>
                                <dd> {{ variables.tick8}} </dd>
                            {% endif %}
                            {% if variables.progress8 is defined %}
                                <dt>Progress</dt>
                                <dd> {{ variables.progress8}} </dd>
                            {% endif %}
                            {% if variables.menace8 is defined %}
                                <dt>Menace</dt>
                                <dd> {{ variables.menace8}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    <!--9-->
            <div class="col-md">
                <div class="container">
                    <div class="card">
                        <div class="card-title text-center">
                            {% if variables.vow9 is defined %}
                                <dd> {{ variables.vow9}} </dd>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {% if variables.tick9 is defined %}
                                <dt>Tick</dt>
                                <dd> {{ variables.tick9}} </dd>
                            {% endif %}
                            {% if variables.progress9 is defined %}
                                <dt>Progress</dt>
                                <dd> {{ variables.progress9}} </dd>
                            {% endif %}
                            {% if variables.menace9 is defined %}
                                <dt>Menace</dt>
                                <dd> {{ variables.menace9}} </dd>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>